@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');

#index-slider {
    min-height: 760px;
}
#index-slider-loading {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 1000;
}
#index-slider-loading .spinner-border{
    width: 100px;
    height: 100px;
    border-width: 10px;
    color: #f9ae28;
    margin-top: -10%;
}
#index-slider h1, #index-slider h2, #index-slider h3, #index-slider h4 {
    font-family: 'Work Sans',sans-serif;
}
#index-slider .carousel-inner {
    height: 100%;
}
#index-slider .carousel-item {
    height: 100%;
}
#index-slider .slide-content {
    position: relative;
    z-index: 1;
}
#index-slider .title-area {
    padding: 120px 0 60px;
}
#index-slider .main-title {
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    color: #f9ae28;
    font-size: 4em;
}
#index-slider .secondary-title {
    font-weight: normal;
    text-align: center;
    margin: 0;
    margin-top: 15px;
}
#index-slider .image-area {
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 0;
}
#index-slider .canvas {
    position: relative;
    overflow: hidden;
}
#index-slider .canvas img, #index-slider .canvas div {
    position: absolute;
    z-index: -20;
}
#index-slider .canvas img.canvas-background {
    position: relative;
    z-index: -100;
    display: block;
}
#index-slider  p {
    font-size: 1.2em;
}
.carousel-control-prev > div, .carousel-control-next > div {
    background-color: rgb(202 202 202 / 30%);
    padding: 10px;
    border-radius: 50%;
}
.carousel-control-prev-icon, .carousel-control-next-icon {
    display: block;
}
.carousel-control-next:focus, .carousel-control-prev:focus {
    opacity: .5;
}
.carousel-indicators li {
    cursor: pointer;
    width: 15px;
    height: 15px;
    margin: 0 10px;
    border-radius: 100%;
}



/* SLIDE 1 */
#index-slider #slide1 .first-slide-title-area {
    padding-top: 215px;
}
#index-slider #slide1 .most-title {
    font-family: 'Fredericka the Great', cursive;
    color: #3e566c;
    font-weight: normal;
    font-size: 150px;
    text-align: center;
    margin: 0;
}
#index-slider #slide1 #foreground {
    width: 15%;
    bottom: 4%;
    left: 63%;
    z-index: -10 !important;
}
#index-slider #slide1 .man-with-swans {
    bottom: -1.9%;
    left: 85%;
    width: 12%;
    z-index: -10 !important;
}
#index-slider #slide1 #taxi {
    width: 5%;
    bottom: 8.1%;
    left: 15%;
    animation: taxi 40s infinite linear;
    animation-delay: -2s;
}
#index-slider #slide1 #taxi .taxi-body {
    position: relative !important;
}
#index-slider #slide1 #taxi .taxi-wheel {
    position: absolute;
    width: 18%;
    left: 5%;
    bottom: -15%;
    animation: taxiwheel 2s infinite linear;
}
#index-slider #slide1 #taxi .taxi-wheel:last-of-type {
    left: 72%;
}
@keyframes taxi {
    from {left: -5%}
    to {left: 105%}
}
@keyframes taxiwheel {
    from {transform: rotate(0)}
    to {transform: rotate(360deg)}
}
#index-slider #slide1 #redcar {
    width: 5%;
    bottom: 11.5%;
    left: 15%;
    animation: redcar 30s infinite linear;
    animation-delay: -5s;
    z-index: -21 !important;
}
#index-slider #slide1 #redcar .redcar-body {
    position: relative !important;
}
#index-slider #slide1 #redcar .redcar-wheel {
    position: absolute;
    width: 15%;
    left: 10%;
    bottom: -15%;
    animation: redcarwheel 1.5s infinite linear;
}
#index-slider #slide1 #redcar .redcar-wheel:last-of-type {
    left: 77%;
}
@keyframes redcar {
    from {left: 105%}
    to {left: -5%}
}
@keyframes redcarwheel {
    from {transform: rotate(0)}
    to {transform: rotate(-360deg)}
}
#index-slider #slide1 .fan {
    width: 4.5%;
    animation: fan 10s infinite linear;
    transform-origin: 60% 55%;
}
@keyframes fan {
    0% {transform: rotate(0)}
    100% {transform: rotate(-360deg)}
}
#index-slider #slide1 .clouds {
    top: 0;
    width: 90%;
    animation: clouds 120s infinite linear;
}
@keyframes clouds {
    0% {left: -100%}
    100% {left: 100%}
}
#index-slider #slide1 .balloon-wrapper {
    width: 3%;
    left: 52%;
    bottom: 91%;
    animation: balloonmove 15s infinite ease;
}
#index-slider #slide1 .balloon {
    animation: balloonrotate 15s infinite ease;
}
@keyframes balloonmove {
    0% {transform: translate(0, 0)}
    50% {transform: translate(100%, 0)}
    100% {transform: translate(0, 0)}
}
@keyframes balloonrotate {
    0% {transform: rotate(0)}
    15% {transform: rotate(10deg)}
    50% {transform: rotate(0)}
    65% {transform: rotate(-10deg)}
    100% {transform: rotate(0)}
}
#index-slider #slide1 .airplane {
    top: 0;
    width: 5%;
    animation: airplane 30s infinite linear;
}
@keyframes airplane {
    0% {left: -5%}
    100% {left: 105%}
}

/* SLIDE 2 */

#index-slider #slide2 {
    background-color: #d9eceb;
}
#index-slider #slide2 .image-area {
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
}
#index-slider #slide2 .slide2-box {
    text-align: justify;
}
#index-slider #slide2 .slide2-box div {
    padding: 15px;
    background-color: rgb(217 236 235 / 95%);
    border-radius: 5px;
}
#index-slider #slide2 .slide2-box p {
    margin: 0;
}
#index-slider #slide2 .slide2-box h3 {
    text-align: center;
    font-weight: bold;
    color: #f9ae28;
    padding-bottom: 10px;
    border-bottom: 3px solid;
    border-radius: 10px;
}
#index-slider #slide2 .slide2-fan {
    animation: fan 7s infinite linear;
    transform-origin: 37% 48%;
}
#index-slider #slide2 .smoke-container {
    z-index: unset !important;
}
#index-slider #slide2 .slide2-smoke {
    animation: smoke 5s infinite linear;
}
#index-slider #slide2 .slide2-smokeopacity {
    animation: smokeopacity 5s infinite linear;
    z-index: -200 !important;
    width: 100%;
}
@keyframes smoke {
    0% {transform: translateY(0) scale(0.1)}
    100% {transform: translateY(-100%) scale(1)}
}
@keyframes smokeopacity {
    0% {opacity: 1}
    100% {opacity: 0}
}
#index-slider #slide2 .slide2-smokecloud {
    animation: smokecloud 15s infinite ease-in-out;
}
@keyframes smokecloud {
    0% {transform: translateX(-20%)}
    50% {transform: translateX(40%)}
    100% {transform: translateX(-20%)}
}

/* SLIDE 3 */

#index-slider #slide3 {
    background-color: #95bce3;
}

#index-slider #slide3 .main-title {
    color: #3e566c;
}
#index-slider #slide3 .alltogehter-container {
    position: relative;
}
#index-slider #slide3 .alltogether {
    width: 100%;
}
#index-slider #slide3 .arrow {
    position: absolute;
    width: 0.8%;
    z-index: -5;
}
#index-slider #slide3 .horizontal-arrows .arrow {
    animation: arrow-horizontal 30s infinite linear;
    bottom: 48%;
}
@keyframes arrow-horizontal {
    0% {left: 27%}
    100% {left: 72%}
}
#index-slider #slide3 .diagonal-arrows {
    position: absolute;
    width: 25%;
    left: 36%;
    bottom: 52%;
    transform: rotate(-45deg);
    z-index: -10;
}
#index-slider #slide3 .diagonal-arrows .arrow {
    animation: arrow-diagonal 20s infinite linear;
    width: 3.2%;
}
@keyframes arrow-diagonal {
    0% {left: 0%}
    100% {left: 100%}
}

/* SLIDE 4 */

#index-slider #slide4 {
    background-color: #383937;
    color: #fff;
}
#index-slider #slide4 .meter-container {
    margin-top: 36px;
}

#index-slider #slide4 .circucit {
    position: absolute;
    width: 60%;
    bottom: 10%;
    opacity: 0.1;
}
#index-slider #slide4 .meter-box {
    animation: meterbox 1s ease;
    transform: scale(0);
    animation-fill-mode: forwards;
}
@keyframes meterbox {
    0% {transform: scale(0)}
    60% {transform: scale(1.1)}
    100% {transform: scale(1)}
}
#index-slider #slide4 .meter-box .icon {
    width: 90%;
    margin: auto;
    display: block;
}

#index-slider #slide4 .meter-box p {
    margin-top: 15px;
    text-align: center;
}

#index-slider #slide4 .meter-box > div {
    position: relative;
}

#index-slider #slide4 .meter-box .arrow {
    position: absolute;
    width: 16px;
    top: 50%;
    right: 15px;
    transform: translate(-50%, -50%);
    animation: meterboxarrow 1s ease-out;
    animation-fill-mode: forwards;
}
@keyframes meterboxarrow {
    0% {right: 15px}
    100% {right: -30px}
}

#index-slider #slide4 .gradient {
    position: absolute;
    width: 100%;
    height: 100px;
    top: 59.5%;
    z-index: -20;
    background: linear-gradient(90deg, rgba(249,174,40,0.2) 0%, rgba(249,174,40,0.8) 100%);
    animation: gradient 8s linear;
    opacity: 0;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}
@keyframes gradient {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

/* SLIDE 5 */

#index-slider #slide5 {
    background-color: #d9eceb;
}
#index-slider #slide5 .canvas {
    width: 117%;
}
#index-slider #slide5 .title-area {
    margin-bottom: 50px;
}
#index-slider #slide5 .benefits p {
    border-left: 10px solid #f9ae28;
    padding-left: 15px;
    margin-bottom: 30px;
}
#index-slider #slide5 .benefits-foreground {
    bottom: 10px;
    left: 19.5%;
    width: 56.5%;
}
#index-slider #slide5 .gear {
    animation: gear 20s infinite linear;
}

@keyframes gear {
    0% {transform: rotate(0)}
    0% {transform: rotate(360deg)}
}

/* SLIDE 6 */

#index-slider #slide6 {
    background-color: #d9eceb;
}
#index-slider #slide6 .background {
    width: 100%;
    position: absolute;
    bottom: 0;
    opacity: 0.2;
}
#index-slider #slide6 .title-area {
    margin-bottom: 50px;
}
#index-slider #slide6 .circle-container {
    position: relative;
}
#index-slider #slide6 .circle {
    width: 150px !important;
    height: 150px !important;
}
#index-slider #slide6 .chart-container {
    display: flex;
    align-items: center;
    height: 150px;
}
#index-slider #slide6 .chart-container p {
    padding-left: 15px;
    margin: 0;
}
#index-slider #slide6 .chart-character {
    position: absolute;
    font-weight: bold;
    color: #f9ae28;
    font-size: 1.3em;
    transform: translate(-50%, -50%);
    left: 50%;
}
#index-slider #slide6 .chart-character.number {
    top: 53%;
    counter-reset: num var(--num);
}
#index-slider #slide6 .chart-character.word {
    top: 61%;
}
#index-slider #slide6 .chart-character.number.big {
    top: 43%;
    font-size: 2em;
}
@property --num {
    syntax: "<integer>";
    initial-value: 0;
    inherits: false;
}
#index-slider #slide6 #consumersChartNum {
    animation: consumersChartCounter 3s ease-in-out forwards;
}
#index-slider #slide6 #consumersChartNum::after {
    content: counter(num) "%";
}
#index-slider #slide6 #marketChartNum {
    animation: marketChartCounter 3s ease-in-out forwards;
}
#index-slider #slide6 #marketChartNum::after {
    content: counter(num) "%";
}
#index-slider #slide6 #metersChartNum {
    animation: metersChartCounter 3s ease-in-out forwards;
}
#index-slider #slide6 #metersChartNum::after {
    content: counter(num);
}
#index-slider #slide6 #benefitsChartNum {
    animation: benefitsChartCounter 3s ease-in-out forwards;
}
#index-slider #slide6 #benefitsChartNum::after {
    content: "€" counter(num);
}
@keyframes consumersChartCounter {
    from {--num: 0}
    to {--num: 72}
}
@keyframes marketChartCounter {
    from {--num: 0}
    to {--num: 80}
}
@keyframes metersChartCounter {
    from {--num: 0}
    to {--num: 245}
}
@keyframes benefitsChartCounter {
    from {--num: 0}
    to {--num: 309}
}

/* SLIDE 7 */

#index-slider #slide7 {
    background-image: url(images/slide7/background.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: bottom;
}
#index-slider #slide7 .main-title {
    color: #3e566c;
}
#index-slider #slide7 .jobs-box {
    background-color: #fff;
    border-radius: 5px;
    padding: 15px;
    height: 100%;
    box-shadow: 4px 4px 0px 0px #3e566c;
    display: flex;
    flex-direction: column;
    transform: translateY(700px);
    animation: jobBox 1s ease-out forwards;
}
#index-slider #slide7 .jobs-box img {
    height: 130px;
    padding: 15px;
}
#index-slider #slide7 .jobs-box p {
    margin: 0;
    text-align: center;
}
#index-slider #slide7 .jobs-box p .highlighted {
    font-weight: bold;
    color:#3e566c;
}
@keyframes jobBox {
    from {transform: translateY(700px)}
    to {transform: translateY(0)}
}

/* SLIDE 8 */
#index-slider #slide8 {
    background-color: #d1d5e0;
}
#index-slider #slide8 .slide-content {
    height: 100%;
}
#index-slider #slide8 .container {
    display: flex;
    flex-direction: column;
    height: 100%;
}
#index-slider #slide8 .main-title {
    color: #3e566c;
}
#index-slider #slide8 .background {
    position: absolute;
    bottom: -90px;
    width: 100%;
}
#index-slider #slide8 .bubble-area {
    position: relative;
    height: 100%;
}
#index-slider #slide8 .bubble {
    position: absolute;
    transform: scale(0);
    animation: bubble 1s ease forwards;
}
#index-slider #slide8 .bubble img {
    transform-origin: 50% 44.5%;
    filter: drop-shadow(4px 4px 0 #acb8c6);
}
#index-slider #slide8 .bubble p {
    margin: 0;
    position: absolute;
    top: 45%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 10px;
}
#index-slider #slide8 .bubble p .highlighted {
    font-weight: bold;
    color:#3e566c;
}
@keyframes bubble {
    0% {transform: scale(0)}
    70% {transform: scale(1.2)}
    100% {transform: scale(1)}
}